thorlabs_tlcam_0/activity_indicator/camera/acquisition	Acq
thorlabs_tlcam_0/activity_indicator/camera/connection	Con
thorlabs_tlcam_0/activity_indicator/processing/background	Bg
thorlabs_tlcam_0/activity_indicator/processing/binning	Bin
thorlabs_tlcam_0/activity_indicator/processing/filter.filt	Fil
thorlabs_tlcam_0/activity_indicator/saving/streaming	Sav
thorlabs_tlcam_0/activity_indicator/saving/trigger_save.trigsave	Trg
thorlabs_tlcam_0/cam/cam/add_info	False
thorlabs_tlcam_0/cam/cam/apply	False
thorlabs_tlcam_0/cam/cam/auto_apply	True
thorlabs_tlcam_0/cam/cam/connect	False
thorlabs_tlcam_0/cam/cam/disconnect	False
thorlabs_tlcam_0/cam/cam/exposure	1.100000000000E+01
thorlabs_tlcam_0/cam/cam/img_size	(1080, 1440)
thorlabs_tlcam_0/cam/cam/roi	((0, 1440, 1), (0, 1080, 1))
thorlabs_tlcam_0/cam/cam/roi_indicator	"[0 - 1440] x [0 - 1080]  Bin 1x1"
thorlabs_tlcam_0/cam/cam/select_roi	False
thorlabs_tlcam_0/cam/cam/set_full_roi	False
thorlabs_tlcam_0/cam/cam/show_det_size	False
thorlabs_tlcam_0/cam/cam/show_gui_roi	False
thorlabs_tlcam_0/cam/cam/size_indicator	1440 x 1080
thorlabs_tlcam_0/cam/cam/start	False
thorlabs_tlcam_0/cam/cam/stop	False
thorlabs_tlcam_0/cam/cam/trigger_mode	int
thorlabs_tlcam_0/cam/img/colormap/mode	rgb
thorlabs_tlcam_0/cam/img/colormap/ticks	[(0.000000000000E+00, (0, 0, 0, 255)), (9.900000000000E-01, (255, 255, 255, 255)), (1.000000000000E+00, (255, 0, 0, 255))]
thorlabs_tlcam_0/cam/img/colormap/ticksVisible	True
thorlabs_tlcam_0/cam/img/auto_histogram_range	True
thorlabs_tlcam_0/cam/img/center_lines	False
thorlabs_tlcam_0/cam/img/coord_system	display
thorlabs_tlcam_0/cam/img/flip_x	False
thorlabs_tlcam_0/cam/img/flip_y	False
thorlabs_tlcam_0/cam/img/hlineon	False
thorlabs_tlcam_0/cam/img/hlinepos	5.400000000000E+02
thorlabs_tlcam_0/cam/img/img_lim_preset	(None, None)
thorlabs_tlcam_0/cam/img/linecut_width	1
thorlabs_tlcam_0/cam/img/load_preset	False
thorlabs_tlcam_0/cam/img/maxlim	0.000000000000E+00
thorlabs_tlcam_0/cam/img/minlim	0.000000000000E+00
thorlabs_tlcam_0/cam/img/normalize	True
thorlabs_tlcam_0/cam/img/save_preset	False
thorlabs_tlcam_0/cam/img/show_histogram	True
thorlabs_tlcam_0/cam/img/show_linecuts	False
thorlabs_tlcam_0/cam/img/show_lines	True
thorlabs_tlcam_0/cam/img/single	False
thorlabs_tlcam_0/cam/img/size	1440 x 1080
thorlabs_tlcam_0/cam/img/transpose	True
thorlabs_tlcam_0/cam/img/update_image	True
thorlabs_tlcam_0/cam/img/vlineon	False
thorlabs_tlcam_0/cam/img/vlinepos	7.200000000000E+02
thorlabs_tlcam_0/cam/save/message_log_window/window/size	(500, 300)
thorlabs_tlcam_0/cam/save/message_log_window/event_msg	""
thorlabs_tlcam_0/cam/save/message_log_window/log_event	False
thorlabs_tlcam_0/cam/save/add_datetime	False
thorlabs_tlcam_0/cam/save/batch_size	1
thorlabs_tlcam_0/cam/save/browse	False
thorlabs_tlcam_0/cam/save/default_snap_path	True
thorlabs_tlcam_0/cam/save/do_filesplit	False
thorlabs_tlcam_0/cam/save/filesplit	1
thorlabs_tlcam_0/cam/save/format	raw
thorlabs_tlcam_0/cam/save/limit_frames	False
thorlabs_tlcam_0/cam/save/make_folder	False
thorlabs_tlcam_0/cam/save/on_name_conflict	rename
thorlabs_tlcam_0/cam/save/path	C:\Users\jht06\Documents\frames
thorlabs_tlcam_0/cam/save/pretrigger_clear	False
thorlabs_tlcam_0/cam/save/pretrigger_enabled	False
thorlabs_tlcam_0/cam/save/pretrigger_size	1
thorlabs_tlcam_0/cam/save/save_settings	True
thorlabs_tlcam_0/cam/save/saving	False
thorlabs_tlcam_0/cam/save/show_log_window	False
thorlabs_tlcam_0/cam/save/snap_add_datetime	False
thorlabs_tlcam_0/cam/save/snap_browse	False
thorlabs_tlcam_0/cam/save/snap_display_source	standard
thorlabs_tlcam_0/cam/save/snap_displayed	False
thorlabs_tlcam_0/cam/save/snap_format	tiff
thorlabs_tlcam_0/cam/save/snap_make_folder	False
thorlabs_tlcam_0/cam/save/snap_path	C:\Users\jht06\Documents\frames_snapshot
thorlabs_tlcam_0/cam/save/stream_mode	cont
thorlabs_tlcam_0/defaults/window/maximized	True
thorlabs_tlcam_0/defaults/window/position	(0, 29)
thorlabs_tlcam_0/defaults/window/size	(2560, 991)
thorlabs_tlcam_0/defaults/settings_folder	""
thorlabs_tlcam_0/disp/display_fps	0
thorlabs_tlcam_0/disp/display_update_period	5.000000000000E-02
thorlabs_tlcam_0/disp/slowdown_enabled	""
thorlabs_tlcam_0/plotting/roi/center/x	16
thorlabs_tlcam_0/plotting/roi/center/y	16
thorlabs_tlcam_0/plotting/roi/size/x	32
thorlabs_tlcam_0/plotting/roi/size/y	32
thorlabs_tlcam_0/plotting/roi/enable	False
thorlabs_tlcam_0/plotting/roi/reset	False
thorlabs_tlcam_0/plotting/disp_last	1000
thorlabs_tlcam_0/plotting/enable	False
thorlabs_tlcam_0/plotting/reset_history	False
thorlabs_tlcam_0/plotting/skip_count	1
thorlabs_tlcam_0/plotting/source	show
thorlabs_tlcam_0/plotting/update_plot	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/colormap/mode	rgb
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/colormap/ticks	[(0, (0, 0, 0, 255)), (3.476758045292E-01, (255, 0, 0, 255)), (7.000000000000E-01, (255, 255, 0, 255)), (9.900000000000E-01, (255, 255, 255, 255)), (1.000000000000E+00, (0, 0, 255, 255))]
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/colormap/ticksVisible	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/disp/display_fps	5.224558127716E+00
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/disp/display_update_period	5.000000000000E-02
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/disp/slowdown_enabled	""
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/auto_histogram_range	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/center_lines	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/coord_system	display
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/flip_x	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/flip_y	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/hlineon	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/hlinepos	5.400000000000E+02
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/img_lim_preset	(None, None)
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/linecut_width	1
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/load_preset	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/maxlim	3.580000000000E+02
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/minlim	1.000000000000E+00
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/normalize	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/save_preset	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/show_histogram	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/show_linecuts	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/show_lines	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/single	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/size	1440 x 1080
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/transpose	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/update_image	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/vlineon	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/defaults/__no_filter__/__plotter__/vlinepos	7.200000000000E+02
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/description	""
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/enabled	True
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/filter_id	blur
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/filter_tab_label	""
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/load_filter	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/loaded	False
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/loaded_filter	""
thorlabs_tlcam_0/plugins/filter/filt/ctl_tab/unload_filter	False
thorlabs_tlcam_0/plugins/filter/filt/plt_tab/procind/binning	"none"
thorlabs_tlcam_0/plugins/filter/filt/plt_tab/procind/filter	"none"
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/dead_time	1.000000000000E+01
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/enabled	False
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/event_trigger_status	armed
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/frame_source	standard
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/image_trigger_threshold	0.000000000000E+00
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/limit_videos	False
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/max_videos	1
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/period	1.000000000000E+01
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/save_mode	full
thorlabs_tlcam_0/plugins/trigger_save/trigsave/params/trigger_mode	timer
thorlabs_tlcam_0/preproc/bin_enabled	False
thorlabs_tlcam_0/preproc/convert_to_float	False
thorlabs_tlcam_0/preproc/slowdown_buffer	100
thorlabs_tlcam_0/preproc/slowdown_enabled	False
thorlabs_tlcam_0/preproc/slowdown_fps	1.000000000000E+01
thorlabs_tlcam_0/preproc/source_fps	8.475214094023E+00
thorlabs_tlcam_0/preproc/spat_bin_mode	mean
thorlabs_tlcam_0/preproc/spat_bin_x	1
thorlabs_tlcam_0/preproc/spat_bin_y	1
thorlabs_tlcam_0/preproc/time_bin	1
thorlabs_tlcam_0/preproc/time_bin_mode	mean
thorlabs_tlcam_0/proc/background_saving	"none"
thorlabs_tlcam_0/proc/background_state	Accumulating
thorlabs_tlcam_0/proc/comb_count	1
thorlabs_tlcam_0/proc/comb_mode	mean
thorlabs_tlcam_0/proc/comb_step	1
thorlabs_tlcam_0/proc/enabled	False
thorlabs_tlcam_0/proc/grab_background	False
thorlabs_tlcam_0/proc/method	snapshot
thorlabs_tlcam_0/procind/background	"none"
thorlabs_tlcam_0/procind/binning	"none"
thorlabs_tlcam_0/extras	None
thorlabs_tlcam_0/load_settings	False
thorlabs_tlcam_0/save_settings	False
thorlabs_tlcam_0/settings_load_scope	all

# Saved on 2023/10/15 01:36:12
