cameras/thorlabs_tlcam_0/params/serial	"16313"
cameras/thorlabs_tlcam_0/display_name	CS165CU 16313
cameras/thorlabs_tlcam_0/kind	ThorlabsTLCam
info/version	2.2.1
plugins/filt/parameters/caption	Filter
plugins/filt/class	filter
plugins/trigsave/class	trigger_save

# Saved on 2023/10/14 23:53:12
